<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arpitakuldr.dotjoin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.arpitakuldr.dotjoin.OnlineGamePlayEndGame"
            android:theme="@style/dialog"/>

        <provider
            android:name="com.arpitakuldr.dotjoin.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5980384053078399~8290579752" />

        <activity
            android:name="com.arpitakuldr.dotjoin.JoinRoom"
            android:theme="@style/dialog" />
        <activity
            android:name="com.arpitakuldr.dotjoin.ExitGameDialog"
            android:theme="@style/dialog" />
        <activity
            android:name="com.arpitakuldr.dotjoin.SinglePlayerEndGame"
            android:theme="@style/dialog" />
        <activity
            android:name="com.arpitakuldr.dotjoin.MultiPlayerOfflineDialog"
            android:theme="@style/dialog" />
        <activity
            android:name="com.arpitakuldr.dotjoin.SinglePlayerDialog"
            android:theme="@style/dialog" />
        <activity
            android:name="com.arpitakuldr.dotjoin.aboutUs"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arpitakuldr.dotjoin.aboutGame"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arpitakuldr.dotjoin.ChangeName"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arpitakuldr.dotjoin.PopUpChat"
            android:theme="@style/AppTheme.PopUp" />
        <activity
            android:name="com.arpitakuldr.dotjoin.OnlineGamePlay"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arpitakuldr.dotjoin.WaitingPlace"
            android:screenOrientation="portrait" />
        <activity android:name="com.arpitakuldr.dotjoin.MultiPlayerOnline" />
        <activity
            android:name="com.arpitakuldr.dotjoin.MultiPlayerOffline"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.arpitakuldr.dotjoin.SinglePlayer"
            android:screenOrientation="portrait" />
        <activity android:name="com.arpitakuldr.dotjoin.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.arpitakuldr.dotjoin.EndService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />
    </application>

</manifest>